*, 
*::before, 
*::after {
    box-sizing: border-box;
  }

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
}

.square {
    border: 1px solid black;
    padding: 1px;
    flex-grow: 1;
}