*, 
*::before, 
*::after {
    box-sizing: border-box;
  }

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
}

.square {
    border: 1px solid black;
    flex: 1 1 auto;
}

