*, 
*::before, 
*::after {
    box-sizing: border-box;
  }
  
:root {
    --width-max-content: max-content;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
}

.square {
    border: 1px solid black;
    padding: 1 px;
    flex-grow: 0;
    width: 25%;
    aspect-ratio: 1/1;
}